# FOLDERS

# Install with `npm install`
node_modules/
# Ignore user manifest inputs
config/manifests/**
# Ignore user manifest outputs
out/**
output/**
# Ignore test resource temp files
test/resource/tmp/**

# FILES

# OS Files
.DS_Store
# Ignore user configurations, keep example config
config/config.yml