# OS files
.DS_Store
Thumbs.db

# IDE folders
.idea/

# Node
node_modules/

# Build files
dist/**/*

# Test temp files
test/resource/tmp/
# Test coverag files
test/coverage/

# tsconfig build files
tsconfig.tsbuildinfo

# User configuration
config/config.yml
config/manifest/**
# User logs
logs/**/*